# Neon Database
DATABASE_URL="postgresql://usuario:password@host.neon.tech/database?sslmode=require"

# Environment
NODE_ENV=development

# Session Secret (generate with: openssl rand -base64 32)
SESSION_SECRET=your-secret-key-here

# Server Port
PORT=5001

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dcutgnihl
CLOUDINARY_API_KEY=579726713247231
CLOUDINARY_API_SECRET=rTpo8hmKJ7vTGa_gMHZL9bePzLI
